[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = ">=8.4.75"
streamlit = {extras = ["pdf"], version = "*"}
opencv-python-headless = "*"

[dev-packages]

[requires]
python_version = "3.12"
